/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
.text-center{
  text-align: center;
}

.top-margin{
  margin-top: 100px;
}

.bottom-margin{
  margin-bottom: 100px;
}

.black-box{
  background-color: #312e2e;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
