<h1>Welcome to Game # <%= @game.id %></h1>
<h2>Started <%= date_format(@game.created_at) %></h2>
<h3>Players:</h3>
<div id="scores_list">
  <% @scores.each do |score| %>
    <%= render 'score_details', score: score, game: @game %>
  <% end %>
</div>

<%= render 'scores/new', score: @score, game: @game %>
